<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ReconHub</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap Icons -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!-- CSS Files -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cards.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/results.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">

</head>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<body>

<nav class="navbar">

<div class="logo">
ReconHub
</div>

<nav class="navbar">

    <div class="logo">
    </div>

    <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/history">History</a></li>
        <li><a href="https://github.com/yourusername/ReconHub" target="_blank">GitHub</a></li>
        <li><a href="#">Documentation</a></li>
    </ul>

</nav>

</nav>



{% block content %}
{% endblock %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>

<script src="{{ url_for('static', filename='js/app.js') }}"></script>

<script>
document.querySelector("form").addEventListener("submit", function () {
    document.getElementById("loading").style.display = "flex";
});
</script>
</body>
</html>